vti_encoding:SR|utf8-nl
vti_author:SR|CHARCO\\woodruffd
vti_modifiedby:SR|CHARCO\\woodruffd
vti_timelastmodified:TR|03 Sep 2014 20:33:49 -0000
vti_timecreated:TR|03 Sep 2014 20:33:49 -0000
vti_cacheddtm:TX|03 Sep 2014 20:33:49 -0000
vti_filesize:IR|2173
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
